<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="#">Welcome back {{ user.email }} </a></h1>
    </li>

    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider show-for-small"></li>
      <li><a href="/users/sign_out">Sign out</a></li>
    </ul>
  </section>
</nav>

<div class="container">
  <div class="row">
    <ul class="large-12 columns">
      <li class="row" data-ng-repeat="article in articles | orderBy:publishedDate:false">
        <div class="article-listing">
          <div class="large-10 small-10 columns">
            <h2><a href="{{ article.link }}" title="{{ article.title }}">
              {{ article.title }}</a></h2>
            <p>{{ article.publishedDate | date:'M/d/yy h:mm:ss a' }}</p>
          </div>
        <div class="small-2 large-2 columns">
          <div data-ng-hide="showShareBox">
            <a ng-click="showShareBox=!showShareBox">Share with a friend</a>
          </div>
          <div data-ng-show="showShareBox">
            <form name="shareForm">
              <label>Share with a friend</label>
              <input type="text"
                placeholder="email or username"
                ng-model="newShare.recipient"
                is-user-or-email="">
              <input type="button" class="btn"
                value="Cancel"
                data-ng-click="showShareBox = !showShareBox">
              <input type="submit"
                class="btn" 
                ng-click="showShareBox=!showShareBox;share(newShare.recipient, article)"
                ng-disabled="shareForm.$invalid"
                value="Share">
            </form>
          </div>
        </div>
      </div>
    </li>
  </ul>
  </div>
</div>